<div class="board-members-div" >
    <p class="board-members">Black American Writers in Translation Series concept and direction: <a href="https://english.nd.edu/people/mark-sanders/" target="_blank" rel="noopener noreferrer">Mark&nbsp;Sanders</a>.<br>
        blawit.org concept and development: <a href="https://orcid.org/0000-0001-9866-0223" target="_blank" rel="noopener noreferrer">Eduardo&nbsp;Febres</a>.<br>
        blawit.org content curation and edition: <a href="https://english.nd.edu/people/graduate-students/paulina-hernandez-trejo/" target="_blank" rel="noopener noreferrer">Paulina&nbsp; Hernández-Trejo</a>.<br><br>
        
        
        Black American Writers in Translation Board Members: <a href="https://www.spanport.pitt.edu/people/jerome-branche" target="_blank" rel="noopener noreferrer">Jerome&nbsp;Branche</a>, <a href="https://roml.franklin.uga.edu/directory/people/lesley-feracho" target="_blank" rel="noopener noreferrer">Lesley&nbsp;Feracho</a>,
        <a href="https://www.spelman.edu/staff/profiles/anastasia-valecce.html" target="_blank" rel="noopener noreferrer">Anastasia&nbsp;Valecce</a>, <a href="https://spanitalport.as.virginia.edu/people/anne-garland-mahler" target="_blank" rel="noopener noreferrer">Anne&nbsp;Garland&nbsp;Mahler</a>,
        <a href="https://vivo.brown.edu/display/ehudehar#" target="_blank" rel="noopener noreferrer">Evelyn&nbsp;Hu-Dehart</a>, <a href="https://hutchinscenter.fas.harvard.edu/henry-louis-gates-jr" target="_blank" rel="noopener noreferrer">Henry&nbsp;Louis&nbsp;Gates,&nbsp;Jr.</a>, <a href="https://www.johnmurillo.com/" target="_blank" rel="noopener noreferrer">John&nbsp;Murillo</a>, 
        <a href="https://spanport.ucla.edu/person/nohora-arrieta-fernandez/" target="_blank" rel="noopener noreferrer">Nohora&nbsp;Arrieta&nbsp;Fernandez</a>, 
        <a href="https://as.vanderbilt.edu/spanish-portuguese/bio/?who=13" target="_blank" rel="noopener noreferrer">William&nbsp;Luis</a>, 
        <a href="https://as.vanderbilt.edu/spanish-portuguese/bio/?who=14" target="_blank" rel="noopener noreferrer">Emanuelle&nbsp;Oliveira-Monte</a>
    </p>
</div>


