---
layout: default
---        

        <h1 class="index">{{ site.tagline }}</h1>
        
        <!--Búsqueda-->
        <a href="buscar"><div class="search-index"><i class="fa fa-search" aria-hidden="true" class="search-index"></i></div></a>
        
                <!-- One random book -->
        <div class="row obras obra-suerte">
            <h2 class="index">{% if site.lang == "es" %}Obra del día{% else %}One book by chance{% endif %}</h2>
        </div>
        
        {% include obra-dia.html %}
        
        <div class="row obras">
        <h2 class="index">Dynamic lists by:</h2>
        </div>
        {% include criteria.html %}
       
        <!-- Presentación del proyecto -->
        {% include project-presentation.html %}

         <!--Últimas siete traducciones registradas -->        
        <div class="row obras obra-suerte">
            <h2 class="index">Some book translations</h2>
        </div>
        {% include book-list-translations.html %}
       

        <!--Descargables-->
        <div class="row obras">
            <h2 class="index">Some books for download</h2>
        </div>
        {% include book-list-download.html %}

         <!--Español-->
        <div class="row obras">
            <h2 class="index">{% if site.lang == "es" %}Algunos libros en español{% else %}Some books in Spanish{% endif %}</h2>
        </div>
        {% include book-list-es.html %}

        <!--No descargables-->
        <div class="row obras">
            <h2 class="index">More books to browse</h2>
        </div>
         {% include book-list-no-download.html %}
       